/*.row .justify-content-left {*/
.justify-content-left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    margin: 5px;
    /* margin-left: 5px; */
    padding: 5px 10px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    /* background-color: rgb(255,255,0,0.08); */
    /* box-shadow: 0px 3px 13px rgb(0 0 0 / 20%); */
}
/* .row .justify-content-right { */
.justify-content-right {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    /* margin-right: 5px; */
    margin: 5px;
    padding: 5px 10px;
    flex-direction: column;
    /* justify-content: center; */
}

.toolbar{
    visibility: hidden;
}
.message{
    width: 100%;
}
.rounded-photo {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 100%!important;
    border: 3px solid #F15A24;
    box-shadow: 0 0 7px #666;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}



.card-body {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: rgb(255,255,0,0.08); */
    /* opacity: 0.4; */
    background-clip: border-box;
    /* border: 1px solid rgba(0,0,0,.125); */
    border-radius: .25rem;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    /* box-shadow: 0px 3px 13px rgb(0 0 0 / 20%); */
}

/* .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #ffc1071c;
    border-bottom: 1px solid #ffc107;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: #ffc1071c;
    border-top: 1px solid #ffc107;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #ffc107;
    border-radius: .25rem;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #ffc107;
    border-radius: .25rem;
} */

.cancel{
    background-color: #dee2e6!important
}

.autocomplete-input-results-spec {
    padding: 0px;
    margin-top: 10px;
    overflow: auto;
    width: 100%;
    margin-left: 0;
    position: absolute;
    line-height: 30px;
    max-height: 300px;
    text-align: left;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    /* needed styles for the overlay */
    z-index: 10; /* keep on top of other elements on the page */
}

.ad-title-gr{
    display: flex;
}

.ad-title-gr .id-ad{
    display: flex;
}