.footer {
    background-color: #333333;
    padding: 15px 0px 15px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 5px solid rgba(241, 90, 36, 1);
    margin-left: auto;
    margin-right: auto;
}
.label-copyright {
    width: 182px;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.95);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.login_area
{
    cursor: pointer;
}
.login_area:hover .login
{
    fill: rgba(241, 90, 36, 1);
}
.login {
    width: 30px;
    height: 32px;
}
.service-buttons {
    display: flex;
    align-items: flex-start;
}
.chat * {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.chat:hover .chat_icon
{
    fill: rgba(241, 90, 36, 1);
}

.heart * {
    width: 25px;
    height: 24px;
    margin-right: 8px;
    cursor: pointer;
}

.heart:hover .heart_icon
{
    fill: rgba(241, 90, 36, 1);
}

.swap * {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 8px;
}

.swap:hover .swap_icon
{
    fill: rgba(241, 90, 36, 1);
}

.my-location {
    align-items: center;
    display: flex;
    margin-right: 30px;
}
.location {
    height: 28px;
    width: 24px ;
    background-image: url("https://static.overlay-tech.com/assets/1f37f57e-2aa2-4c2e-b7ae-e9d0aa72a3ab.svg");
}

.location-text {
    font-family: "Montserrat";
    padding: 5px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}
.find-mini {
    display: flex;
    align-items: center;
}
.search-box {
    margin-right: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.autocomplete-results {
    padding: 0px;
    margin-top: 50px;
    overflow: auto;
    width: 300px;
    margin-left: 0;
    position: absolute;
    line-height: 30px;
    max-height: 300px;
    text-align: left;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    /* needed styles for the overlay */
    z-index: 10; /* keep on top of other elements on the page */
}
.autocomplete-result
{
    padding: 10px;
    color: rgba(51, 51, 51, 1);
}
.autocomplete-result:hover
{
    background-color: rgba(229,229,229,0.8);
    cursor: pointer;
}
.overlay
{
    top: 0;
    left: 0;
    width: 9999px;
    height: 9999px;
    position: fixed;
    z-index: 9;
    background-color: rgba(0,0,0,0.5);
}

.search-input
{
    background: none;
    text-align: center;
    width: 300px;
    border: none;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    z-index: 11;
    color: rgba(255, 255, 255, 1);
}
.search-input:focus::placeholder
{
    color: transparent;
}
.search-input::placeholder
{
    color: rgba(255, 255, 255, 1);
}
.search-input:focus
{
    outline:0;
}

.search-underline {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    z-index: 11;
}

.magnifying-glass-1 {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    z-index: 11;
}

.glass {
    width: 20px;
    height: 20px;
}

.magnifying-glass-1:hover .glass
{
    fill: rgba(241, 90, 36, 1);
}

.button-ad {
    background-color: rgba(241, 90, 36, 1);
    padding: 11px 18px 11px 18px;
    border: 0px;
    border-radius: 0px;
    text-align: center;
    width: 250px;
}
.button-ad:focus{
    outline:0;
}
.button-ad:hover {
    filter: brightness(150%);
}

.button-addtext {
    display: inline;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}
.header-up1 {
    background-color: rgba(34, 34, 34, 1);
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
}
.header-up-inner {
    width: 100%;
    height: 100% ;
    display: flex;
    margin: 0 auto;
    align-items: center;
}
.lang-select {
    margin-top: 5px;
    margin-right: 50px;
    margin-left: auto;
    display: flex;
    width: 60px;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    padding: 5px;
}
.selected-lang
{
    margin-right: 5px;
    width: 30px;
}

.lang-select:hover .selected-lang
{
    color: rgba(241, 90, 36, 1);
}

.arrow{
   width: 10px;
   height: 6px;
}

.lang-select:hover .arrow-img
{
    fill: rgba(241, 90, 36, 1);
}

.lang-options
{
    padding: 0;
    margin-top: 25px;
    overflow: auto;
    margin-left: 0;
    text-align: left;
    position: absolute;
    z-index: 6;
    border-radius: 5px;
    background-color: rgba(34, 34, 34, 1);
    color: rgba(255, 255, 255, 1);
}

.lang-option
{
    padding: 5px;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
}

.lang-option:hover
{
    color: rgba(241, 90, 36, 1);
    cursor: pointer;
}

.header-menu {
    display: block;
    width: 100%;
    background-color:#333333;
}
.header-menu-inner{
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    max-width: 1140px;
}

.menu_item
{
    width: 200px;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    padding: 5px;
}

.menu_item:hover
{
    color: rgba(241, 90, 36, 1);
}

.logobox
{
    display: flex;
    margin: 0 auto;
}

.head-logo {
    align-items: center;
    margin: 0 auto;
    width: 212px;
}

.logo-bike
{
    position: relative;
    box-sizing: content-box;
    z-index: 2;
    left: 160px;
    padding-bottom: 25px;
}

.logo_letters
{
    position: relative;
}

.button-add {
    margin-right: auto;
}
.find-mini {
    margin-top: 6px;
    margin-right: auto;
}
.buttonbar {
    margin-top: 2px;
    display: flex;
    align-items: center;
}
.service-buttons {
    margin-right: 25px;
}
.b-icon {
    outline: none;
}
.header-nav {
    border-bottom: 1px solid #f2f2f2;
}
.header-nav .b-icon.bi {
    font-size: 24px;
}
.dropdown-toggle::after {
    display: none;
}
.navbar-nav .nav-link {
    position: relative;
}
.qty-indicator {
    position: absolute;
    top: 0;
    right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    color: #fff;
    font-size: 12px;
    background: #17a2b8;
    border-radius: 100%;
}
.b-sidebar-header {
    text-align: right;
}
.b-sidebar.slide {
    -webkit-transition: transform 1s cubic-bezier(.19,1,.22,1);
    transition: transform 1s cubic-bezier(.19,1,.22,1);
}
.b-sidebar-body {
    padding: 15px;
}

/* flyout-cart */

.flyout-cart {
    padding-left: 0;
}

.flyout-cart .item {
    position: relative;
    width: 100%;
    margin: 0 0 7.5px 0;
    padding: 0 0 7.5px 0;
    border-bottom: 1px solid #efefef;
}
.flyout-cart .item:last-child,
.flyout-cart .item:last-child:first-child {
    margin: 0;
    padding: 0;
    border-bottom: 0;
}
.flyout-cart .item .attributes {
    font-size: 14px;
    color: #888;
}
.flyout-cart .item .deletecartitem {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.flyout-cart .item .col a {
    color: #343a40;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
.header-nav .bi-cart-check {
    width: 40px;
    margin: 6px 0 0 0;
}

/* menu toogler */

#sidebar-menu .b-sidebar-body {
    padding: 0;
}
.menu-toggler {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50px;
    height: 31px;
    background-color: transparent !important;
    border: 0 !important;
}
.menu-toggler span {
    width: 30px;
    height: 3px;
    background: #000;
}

@media (min-width: 576px) {
    .b-sidebar {
        width: 530px;
    }
}
@media (max-width: 991px) {
    .header-nav {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        margin: 0 0 15px 0;
        background: #fff;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        z-index: 1034;
    }
    .header-nav > .navbar {
        height: 58px;
    }
    .header-nav .navbar-brand img {
        max-height: 45px;
    }
    .header-nav .top-header-items.navbar-nav {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fff;
        padding: 10px;
        display: inline-flex;
        justify-content: space-around;
        box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 -3px 6px rgba(0,0,0,0.23);
    }
}
@media (max-width: 575px) {
    .flyout-cart .item img {
        max-width: 75px;
    }
    .flyout-cart .item .col a {
        display: table;
        max-width: calc(100% - 15px);
        font-size: 14px;
        line-height: 1;
    }
    .flyout-cart .item .price,
    .flyout-cart .item .quantity {
        font-size: 14px;
    }
    .flyout-cart .item .attributes {
        font-size: 12px;
    }
    .flyout-cart .b-sidebar-footer .h4 {
        font-size: 20px;
    }
    .flyout-cart .b-sidebar-footer .h5 {
        font-size: 16px;
    }
}
@media (max-width: 380px) {
    .header-nav .navbar-brand img {
        max-width: 120px;
    }
}